<mat-drawer-container class="example-container" fxFlexFill>
  <mat-drawer-content fxLayout="column">
    <header>
      <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" [ngClass.gt-sm]="'py-3 px-5'" class="p-4">
        <div fxLayoutAlign="start center">
          <a routerLink="/lobby" routerLinkActive="active" class="me-2">
            <img src="assets/quix-logo-text.svg" alt="Quix" height="24" />
          </a>
          <span class="mat-h4 text-uppercase text-white mb-0">Templates</span>
        </div>
        <div fxLayoutAlign="start center">
          <button fxHide.lt-md mat-flat-button color="primary" class="small me-3">
            <img src="assets/icons/quix-logo.svg" class="me-1">
            Look under the hood
          </button>
          <button mat-flat-button class="small">
            <img src="assets/icons/github.svg" class="me-1">
            View repo
          </button>
        </div>
      </mat-toolbar>
    </header>
    <main fxFlex>
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>