<mat-form-field appearance="outline" [class.mat-focused]="menuTrigger?.menuOpen" 
  class="w-100 cursor-pointer mb-0 mt-2 p-0" [matMenuTriggerFor]="menu" (menuOpened)="prepareMenu()">
  <mat-label>Messages source</mat-label>
  <input matInput [value]="selectedRoom" class="pe-none" readonly>
  <mat-icon matSuffix>{{ menuTrigger?.menuOpen ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
</mat-form-field>

<mat-menu #menu="matMenu" class="dropdown bg-white">
  <!-- Title option -->
	<button
    mat-menu-item
    disabled
    (click)="$event.preventDefault()"
    class="px-4 py-2">
    <span class="mat-caption text-uppercase text-muted fw-bold text-truncate">Quix</span>
  </button>

  <div [style.maxHeight.px]="250" class="overflow-auto">
    <!-- Default Quix Chat Room -->
    <button mat-menu-item fxLayout="row" fxLayoutAlign="start center" class="bg-white px-4 py-2 fw-bold" [class.selected]="selectedRoom === QuixChatRoom" (click)="changeRoom()">
      <div fxLayoutAlign="start center" class="rounded-circle overflow-hidden me-2">
        <img src="assets/quix-logo-blue.svg" height="32">
      </div>  
      Quix chatroom
    </button>
  
    <!-- Local Storage Chat rooms -->
    <button mat-menu-item fxLayout="row" fxLayoutAlign="start center" class="bg-white px-4 py-2 fw-bold" *ngFor="let room of storedRooms" [class.selected]="selectedRoom === room" (click)="changeRoom(room)">
      <div fxLayoutAlign="center center" class="rounded-circle overflow-hidden me-2 _custom-chat-room">
        <mat-icon class="text-white material-icons-outlined me-0">forum</mat-icon>
      </div>  
      {{ room }}
    </button>
  </div>


  <button mat-menu-item class="bg-white px-4 py-2" (click)="openCreateChatroomDialog()">
    <a class="mat-body-2 fw-bold text-primary-light">+ New chat room</a>
  </button>

  <mat-divider class="m-0"></mat-divider>
  
  <!-- Title option -->
  <button
    mat-menu-item
    disabled
    (click)="$event.preventDefault()"
    class="bg-white py-1">
    <span class="mat-caption text-uppercase text-muted fw-bold text-truncate">Top twitch channels now</span>
  </button>

  <div *ngIf="isLoadingChannels" class="py-3" fxLayoutAlign="center center">
    <mat-spinner [diameter]="20"></mat-spinner>
  </div>
  
  <cdk-virtual-scroll-viewport *ngIf="!isLoadingChannels" itemSize="100" [style.height.px]="(50 * channels.length) < 250 ? (50 * channels.length) : 250" twitchWrapper>
    <button mat-menu-item fxLayout="row" fxLayoutAlign="start center" class="bg-white px-4 py-2" *ngFor="let channel of channels" [class.selected]="selectedRoom === channel.streamId" (click)="changeRoom(channel.streamId, true)"> 
      <div *ngIf="channel.profilePic" fxLayoutAlign="start center" class="rounded-circle overflow-hidden me-2">
        <img [src]="channel.profilePic" height="32">
      </div>
      <div fxLayout="column">
        <span class="fw-bold">{{ channel.streamId }}</span>
        <span>{{ channel.game }}</span>
      </div> 
    </button>
  </cdk-virtual-scroll-viewport>


</mat-menu>