::ng-deep {
  .dropdown {
    .mat-menu-item {
      line-height: unset !important;
      height: unset !important;
    }
  
    .mat-menu-panel {
      max-width: unset !important;
    }
  
    .mat-divider {
      margin: 8px 0 !important;
    }
  }
}

.selected {
  background-color: rgba(0, 142, 255, 0.10) !important;
}

.mat-menu-item {
  &:hover:not([disabled]) {
    background-color: rgba(0, 0, 0, 0.05) !important;
  }
}

._custom-chat-room {
  background-color: #BD2EFF;
  height: 32px;
  width: 32px;
}
